
body {
    background-color: #777493;
    font-family: 'Amatic SC', cursive;
    width: 100%;
}
h1 {
    font-size: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.booksSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    background-color: white;
    width: 50%;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

p {
    font-family: 'Cormorant Garamond', serif;
    background-color: white;
    margin: 15px;
    
}

